body {
  margin: 0auto;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}
blockquote {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}
.container {
  width: 80%;
  margin: 0 auto;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
h3 {
  color: #333;
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 100px;
  text-align: left;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.list container {
  width: 45%;
  margin: 0 auto;
  padding: 20px;
}
ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 20px 0 5px 20px;
  color: #000;
}
h4 {
  color: #333;
  margin-top: 20px;
  text-align: center;
}
form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 70px;
}
button:hover {
  background-color: #cf1f1f;
}
