.div1 {
  background-color: blue;
  width: 100px;
  height: 100px;

  left: 150px;
  top: 50px;
}
.div2 {
  background-color: rgb(36, 136, 6);
  width: 75px;
  height: 75px;
  right: 0;
  top: 200px;
}
.div3 {
  background-color: rgb(255, 0, 0);
  width: 50px;
  height: 50px;
}
