body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}
#container {
  max-width: 800px;
  height: auto;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}
h1 {
  text-align: center;
  color: #222020;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-container {
  margin-top: 25px;
}
.red-text {
  color: red;
}
form-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

label {
  color: rgb(37, 36, 36);
  margin-bottom: 5px;
  font-weight: 100;
}
input,
input:focus,
input:active,
input:focus {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  size: 0.5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

select {
  border: 2px solid #ccc;
  outline: none;
  height: 40px;
  width: 80%;
}
row-container {
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}

.input-container {
  width: 50%;
  float: left;
}
.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 10px;
  float: left;
  height: 35px;
}
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
