* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  background-color: #020000db;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://i.pinimg.com/474x/af/f0/6f/aff06fb3660a32e8f90bde5c46d3c80f.jpg);

  background-size: cover;

  background-position: center;
  padding: 10px 8px;
  position: relative;
}
.container img {
  width: 150px;
  margin: 0 130px;
}
.right {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 10;
}
.right select,
.right button {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
.right select {
  background-color: rgb(17, 17, 17);
  color: antiquewhite;
  border: 1px solid gray;
}
.right button {
  background-color: red;
  color: antiquewhite;
  font-weight: bold;
  cursor: pointer;
}

.para {
  width: 80%;
  margin: auto;
  padding: 30px;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 160px;
}
.para h1 {
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-size: 60px;
  font-weight: bold;
}
.para h2 {
  color: #fff;
  font-size: larger;
  font-weight: 600;
}
.para h3 {
  color: #fff;
  font-size: medium;
  font-weight: 200;
}
form {
  display: block;
  margin: 0;
}
input[type="email"] {
  width: 300px;
  padding: 18px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #252323;
  background-color: #222121a8;
  border-radius: 4px;
}

.para button {
  width: 250px;
  padding: 10px;
  font-weight: 600;
  font-size: 26px;
  background-color: red;
  border-radius: 4px;
  color: #ffff;
}

.section {
  background-color: black;
}
.section h2 {
  color: #fff;
  font-size: 24px;

  margin-left: 140px;
  padding: 5px;
}

.scroll {
  width: 80%;
  display: flex;
  overflow-x: auto;
  gap: 15px;
  margin: auto;

  scroll-behavior: smooth;
  padding: 10px 30px;

  background-color: black;
}
.scroll ::-webkit-scrollbar {
  height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.scroll img {
  flex: 0 0 auto;
  width: 150px;
  height: auto;

  border-radius: 6px;
  transition: transform 0.3s;
}
.scroll img:hover {
  transform: scale(1.1);
}
.middle-part-section {
  background-color: black;
  padding: 20px;
  margin-left: 90px;
  /* margin-left: auto;
  margin-right: auto; */
}
.middle-part-section h1 {
  color: #fff;

  font-size: 24px;
  font-weight: 700;
  text-align: initial;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
}
.middle-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
/* .box start */
.box {
  width: 250px;
  height: 260px;
  /* margin-top: 20px;
  margin-left: 10px; */
  border-radius: 17px;

  padding: 20px;
  background-color: hsla(254, 86%, 11%, 0.692);
  color: #fff;

  box-shadow: inset -10px -10px 20px rgba(0, 0, 139, 0.4),
    inset -15px -15px 25px rgba(139, 0, 139, 0.3);
}

.box h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.box p {
  font-size: 16px;
  line-height: 1.4;
}
/* .box end */

/* blocks  element strt*/

.block-element {
  /* width: 83%; */
  width: 90%;
  /* margin-left: 90px; */
  margin: auto;

  background-color: black;
  padding: 20px;
}
.block-element h1 {
  color: #fff;
  font-size: 24px;
  padding: 20px;
  margin-right: 20px;
}

/* block-element end */

.block h2 {
  margin: 0;
  font-weight: 200;
  font-size: 24px;
}
.block-one {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-two {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-three {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-four {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-five {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-six {
  height: 50px;
  margin: auto;
  background-color: rgb(59, 53, 53);
  padding: 20px;
  margin-bottom: 10px;
}
.block-one:hover {
  background-color: #444;
}
.block-two:hover {
  background-color: #444;
}
.block-three:hover {
  background-color: #444;
}
.block-four:hover {
  background-color: #444;
}
.block-five:hover {
  background-color: #444;
}
.block-six:hover {
  background-color: #444;
}

/* .block end */
.footer {
  background-color: black;
  display: grid;
  place-items: center;
  padding: 30px;
}
.footer h3 {
  color: #fff;
  font-size: medium;
  font-weight: 200;
  padding: 20px;
}
.footer input[type="email"] {
  width: 600px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #252323;
  background-color: #222121a8;
  border-radius: 4px;
}
.footer button {
  width: 250px;
  padding: 10px;
  font-weight: 600;
  font-size: 26px;
  background-color: red;
  border-radius: 4px;
  color: #ffff;
}
.footer-section {
  width: 100%;
  background-color: black;

  margin-left: 70px;
  padding: 30px;
}
.footer-section p {
  color: #cdc5c5;

  padding: 10px;
}

table {
  width: 80%;
  padding: 30px;
}
table,
td {
  color: #cdc5c5;
  text-decoration: underline;
  padding: 10px;
  cursor: pointer;
}
.footer-section-one {
  width: 100px;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
}
.footer-section-one select {
  width: 230px;
  background-color: rgb(17, 17, 17);
  color: antiquewhite;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
}
.netflix p {
  padding: 20px;
}
.end p {
  padding: 20px;
}
.end p u {
  color: rgb(76, 76, 255);
}

/*  Mobile (up to 600px) */
@media (max-width: 600px) {
  .container img {
    width: 100px;
    margin: 0 50px;
  }
  .right {
    top: 20px;
    right: 20px;
  }
  .right button {
    padding: 5px 10px;
  }
  .right select {
    padding: 4px 8px;
  }
  .para {
    position: unset;
    padding-top: 20px;
  }
  .para h1 {
    font-size: 36px;
  }
  .para h2 {
    font-size: 20px;
  }
  form {
    margin-top: 20px;
  }
  input[type="email"] {
    width: 80%;
    padding: 12px;
    font-size: 14px;
  }
  .para button {
    width: 80%;
    padding: 10px 15px;
    font-size: 20px;
  }

  .section h2 {
    margin-left: 20px;
    font-size: 20px;
  }
  .scroll {
    width: 100%;
    padding: 10px;
  }
  .middle-part-section {
    width: 100%;
    padding: 10px;
  }
  .middle-part-section h1 {
    font-size: 20px;
    padding: 10px;
  }
  .middle-part {
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
  }
  .box {
    width: 80%;
    height: auto;
  }
  .box h1 {
    font-size: 18px;
  }
  .footer {
    padding: 20px;
    display: block;
  }
  .footer h3 {
    font-size: 18px;
    padding: 10px;
    display: block;
  }
  .footer input[type="email"] {
    width: 90%;
    padding: 10px;
    font-size: 14px;
  }
  .footer button {
    width: 90%;
    padding: 10px;
    font-size: 20px;
  }
  .footer-section {
    width: 100%;
    padding: 20px;
  }
  .footer-section p {
    font-size: 14px;
  }
  table {
    width: 100%;
    padding: 10px;
  }
  table,
  td {
    color: #cdc5c5;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  .end p {
    font-size: 14px;
  }
}
