* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;

  /* Navigation Bar */
  header {
    background-color: #333;
    padding: 15px 0;
  }

  .nav nav {
    display: flex;
    justify-content: center;

    gap: 30px;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-family: italic;
    padding: 8px 12px;

    transition: background 0.3s;
  }

  .nav a:hover {
    background-color: #0055a5;
    border-radius: 4px;
  }

  .container {
    max-width: 800px;

    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;

    background-color: #ffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .container h2 {
    font-family: italic;
    text-align: center;
    padding: 15px;
  }
  .fare-summary {
    width: 700px;
    height: 200px;
    background-color: #ecf0f1;
    margin-right: 20px;

    border-radius: 8px;
    margin: 10px 0px;
    padding: 10px;
  }
  .fare-summary p {
    margin: 5px 0;
  }
  form {
    display: grid;
    gap: 20px;
  }

  .mb-3 {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .pay-btn {
    padding: 12px;
    background-color: #256cb3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  .pay-btn:hover {
    background-color: #2c3e50;
  }
}
