body {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 20px;
  background: linear-gradient(#4b79a1, #283e51);
}
nav a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-size: larger;
}

.login-container {
  width: 350px;

  border-radius: 6px;
  background-color: #fff;
  box-shadow: 10px 25px rgba(0, 0, 0, 0.2);

  padding: 20px;
  margin: auto;
  display: grid;
  place-items: center;
  gap: 20px;
}
.login-container h1 {
  text-align: center;
  color: #333;
  margin: auto;
}
form {
  display: block;
  margin: 0;
}
input[type="text"],
input[type="password"] {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  background-color: #1b6ab8;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #283e51;
}
.note {
  text-align: left;
  color: #ccc;
}
