body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  .nav {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: large;

    padding: 10px;
  }
  .nav a:hover {
    background-color: #0055a5;
    border-radius: 4px;
  }

  .main {
    width: 60%;
    height: 75vh;
    background-color: #f9f9f9;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  h1 {
    text-align: center;
  }
  .details img {
    width: 170px;
    border-radius: 5px;
  }

  .content {
    width: 150px;
    height: 130px;
    background-color: #f7f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  .content:hover {
    background-color: darkseagreen;
  }
  .book-btn {
    width: 50%;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #1b5c9d;
    cursor: pointer;
  }
  .book-btn:hover {
    background-color: brown;
  }
}
