* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

/* Navigation Bar */
header {
  background-color: #333;
  padding: 15px 0;
}

.nav nav {
  display: flex;
  justify-content: center;

  gap: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: large;
  font-family: italic;
  padding: 8px 12px;

  transition: background 0.3s;
}

.nav a:hover {
  background-color: #0055a5;
  border-radius: 4px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: italic;
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
}

.passenger-group {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.passenger-group h3 {
  margin-top: 0;
  color: #444;
  font-family: italic;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  padding: 10px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.proceed-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #1b5c9d;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.proceed-btn:hover {
  background-color: #1a252f;
}
