body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;

  header {
    color: white;

    text-align: center;
  }
  .container {
    width: 100%;
    margin: auto;
    background-color: rgb(62, 158, 158);
  }
  nav {
    display: flex;
    justify-content: flex-end;

    color: white;
    padding: 10px;
  }
  nav h1 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
    flex: 1;
  }
  ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    display: inline;
  }
  .main-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: rgb(62, 158, 158);
  }
  .left-container h1 {
    color: white;
    font-family: italic;
    font-size: 36px;
    margin-right: 30px;
    padding: 25px;
    margin: 10px 45px;
  }
  .box-container {
    width: 500px;
    height: 180px;
    background-color: rgb(255, 255, 255);

    border-radius: 8px;
    margin: 10px 60px;
    padding: 10px;
  }

  select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 245, 245);
    color: rgb(32, 33, 34);

    font-size: large;
    padding: 5px;
    align-items: center;
  }
  select:focus {
    background-color: rgb(227, 245, 245);
  }
  select:hover {
    background-color: rgb(227, 245, 245);
  }
  input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 245, 245);
    color: rgb(32, 33, 34);
    margin: 5px;
    font-size: large;
  }

  input:focus {
    background-color: rgb(227, 245, 245);
    outline: none;
  }
  input:hover {
    background-color: rgb(227, 245, 245);
  }

  button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(33, 27, 82);
    border: 1px solid rgb(227, 245, 245);
    color: rgb(255, 253, 253);
    margin-top: 50px;
    margin-left: 40px;
    font-size: large;
    padding: 10px 0;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(62, 158, 158);
    color: white;
  }
  input[type="checkbox"] {
    width: 40px;
    height: 15px;
    margin-right: 10px;
  }
  label {
    color: rgb(32, 33, 34);
    font-size: large;
    margin-right: 5px;
  }
  .right-container img {
    width: 400px;
    height: 400px;
    border-radius: 40%;
    display: block;
    margin: auto;

    box-shadow: 0cap 0 10px rgba(16, 15, 15, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  /* .footer-container {
    width: 100px;
    height: 50px;
    position: fixed;
    background-color: rgb(62, 158, 158);
    color: white;

    padding: 20px;
  } */
  /* .footer-container p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  } */
  .footer-container h2 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }
}
